.mat-card{
    width:300px;
    margin: 10px;
}
.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // .mat-card{
    //     width:300px;
    //     margin: 10px;
    //     flex: 1;
    // }
}
